In [1]:
# 필요한 기본 패키지 준비
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from scipy import stats

%matplotlib inline
from plotnine import *
import folium
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rc, font_manager
import datetime as dt

# 한글 처리
font_name = font_manager.FontProperties(fname='C:/Windows/Fonts/NanumGothicCoding.ttf').get_name()
rc('font',family=font_name)

# - 마이너스 사인 처리
matplotlib.rcParams['axes.unicode_minus'] = False

# jupyter notebook에서 warning 무시하기
import warnings
warnings.filterwarnings("ignore")

In [2]:
# 데이터 불러오기(전처리 된 데이터)
air_2016_1 = pd.read_csv('E:/Python/csv/original/대기오염지수/2016년 1분기.csv', encoding='euc-kr')
air_2016_2 = pd.read_csv('E:/Python/csv/original/대기오염지수/2016년 2분기.csv', encoding='euc-kr')
air_2016_3 = pd.read_csv('E:/Python/csv/original/대기오염지수/2016년 3분기.csv', encoding='euc-kr')
air_2016_4 = pd.read_csv('E:/Python/csv/original/대기오염지수/2016년 4분기.csv', encoding='euc-kr')

air_2016_1_seoul = air_2016_1.loc[(air_2016_1['지역']=='서울')]
air_2016_2_seoul = air_2016_2.loc[(air_2016_2['지역']=='서울')]
air_2016_3_seoul = air_2016_3.loc[(air_2016_3['지역']=='서울')]
air_2016_4_seoul = air_2016_4.loc[(air_2016_4['지역']=='서울')]

air_2016_seoul1 = pd.merge(air_2016_1_seoul, air_2016_2_seoul, on=('지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'), how='outer')
air_2016_seoul2 = pd.merge(air_2016_seoul1, air_2016_3_seoul, on=('지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'), how='outer')
air_2016_seoul = pd.merge(air_2016_seoul2, air_2016_4_seoul, on=('지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'), how='outer')

In [3]:
# 데이터 불러오기(전처리 된 데이터)
air_2017_1 = pd.read_csv('E:/Python/csv/original/대기오염지수/2017년 1분기.csv', encoding='euc-kr')
air_2017_2 = pd.read_csv('E:/Python/csv/original/대기오염지수/2017년 2분기.csv', encoding='euc-kr')
air_2017_3 = pd.read_csv('E:/Python/csv/original/대기오염지수/2017년 3분기.csv', encoding='euc-kr')
air_2017_4 = pd.read_csv('E:/Python/csv/original/대기오염지수/2017년 4분기.csv', encoding='euc-kr')

air_2017_1['지역'] = air_2017_1['지역'].str.split(" ",expand=True)[0]
air_2017_2['지역'] = air_2017_1['지역'].str.split(" ",expand=True)[0]
air_2017_3['지역'] = air_2017_1['지역'].str.split(" ",expand=True)[0]
air_2017_4['지역'] = air_2017_1['지역'].str.split(" ",expand=True)[0]

air_2017_1_seoul = air_2017_1.loc[(air_2017_1['지역']=='서울')]
air_2017_2_seoul = air_2017_2.loc[(air_2017_2['지역']=='서울')]
air_2017_3_seoul = air_2017_3.loc[(air_2017_3['지역']=='서울')]
air_2017_4_seoul = air_2017_4.loc[(air_2017_4['지역']=='서울')]

air_2017_seoul1 = pd.merge(air_2017_1_seoul, air_2017_2_seoul, on=('지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'), how='outer')
air_2017_seoul2 = pd.merge(air_2017_seoul1, air_2017_3_seoul, on=('지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'), how='outer')
air_2017_seoul = pd.merge(air_2017_seoul2, air_2017_4_seoul, on=('지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'), how='outer')

In [4]:
# 데이터 불러오기(전처리 된 데이터)
air_2018_1 = pd.read_csv('E:/Python/csv/original/대기오염지수/2018년 1분기.csv', encoding='euc-kr')
air_2018_2 = pd.read_csv('E:/Python/csv/original/대기오염지수/2018년 2분기.csv', encoding='euc-kr')
air_2018_3 = pd.read_csv('E:/Python/csv/data/original/대기오염지수/2018년 3분기.csv', encoding='euc-kr')
air_2018_4 = pd.read_csv('E:/Python/csv/data/original/대기오염지수/2018년 4분기.csv', encoding='euc-kr')

air_2018_1['지역'] = air_2018_1['지역'].str.split(" ",expand=True)[0]
air_2018_2['지역'] = air_2018_1['지역'].str.split(" ",expand=True)[0]
air_2018_3['지역'] = air_2018_1['지역'].str.split(" ",expand=True)[0]
air_2018_4['지역'] = air_2018_1['지역'].str.split(" ",expand=True)[0]

air_2018_1_seoul = air_2018_1.loc[(air_2018_1['지역']=='서울')]
air_2018_2_seoul = air_2018_2.loc[(air_2018_2['지역']=='서울')]
air_2018_3_seoul = air_2018_3.loc[(air_2018_3['지역']=='서울')]
air_2018_4_seoul = air_2018_4.loc[(air_2018_4['지역']=='서울')]

air_2018_seoul1 = pd.merge(air_2018_1_seoul, air_2018_2_seoul, on=('지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'), how='outer')
air_2018_seoul2 = pd.merge(air_2018_seoul1, air_2018_3_seoul, on=('지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'), how='outer')
air_2018_seoul = pd.merge(air_2018_seoul2, air_2018_4_seoul, on=('지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'), how='outer')

# 중간저장

In [5]:
air_2016_seoul.to_csv('E:/Python/csv/air_2016_seoul.csv', index=False, encoding='utf-8')
air_2017_seoul.to_csv('E:/Python/csv/air_2017_seoul.csv', index=False, encoding='utf-8')
air_2018_seoul.to_csv('E:/Python/csv/air_2018_seoul.csv', index=False, encoding='utf-8')
print('saving done!')

saving done!

# 중간저장 불러오기

In [5]:
air_2016_seoul = pd.read_csv('E:/Python/csv/air_2016_seoul.csv')
air_2017_seoul = pd.read_csv('E:/Python/csv/air_2017_seoul.csv')
air_2018_seoul = pd.read_csv('E:/Python/csv/air_2018_seoul.csv')

In [6]:
air_2016_seoul.head(2)

,date,시도구,이산화황(SO2),일산화탄소(CO),오존(O3),이산화질소(NO2),PM10,PM25,지역,측정소코드,측정소명,망_x,망_y
0,2016-01-01,서울특별시,0.005458,1.016667,0.005021,0.052271,71.0625,44.208333,강남구,Ae30,강남구,0.0,0.0
1,2016-01-01,서울특별시,0.004833,0.900000,0.002175,0.046167,71.0625,45.416667,강동구,Ad47,강동구,0.0,0.0

In [7]:
# 필요없는 컬럼 삭제
air_2016_seoul = air_2016_seoul.drop(columns=['측정소코드','측정소명','망_x','망_y'])
air_2017_seoul = air_2017_seoul.drop(columns=['측정소코드','측정소명','망_x','망_y'])
air_2018_seoul = air_2018_seoul.drop(columns=['측정소코드','측정소명','망_x','망_y'])

# 컬럼순서 변경
air_2016_seoul = air_2016_seoul.iloc[:,[1,0,2,3,4,5,6,7,8]]
air_2017_seoul = air_2017_seoul.iloc[:,[1,0,2,3,4,5,6,7,8]]
air_2018_seoul = air_2018_seoul.iloc[:,[1,0,2,3,4,5,6,7,8]]

# 컬럼명 변경
air_2016_seoul.columns = ["pvn_nm", "date","SO2","CO","O3","NO2","PM10","PM25","bor_nm"]
air_2017_seoul.columns = ["pvn_nm", "date","SO2","CO","O3","NO2","PM10","PM25","bor_nm"]
air_2018_seoul.columns = ["pvn_nm", "date","SO2","CO","O3","NO2","PM10","PM25","bor_nm"]

In [8]:
# bor_nm 조정
air_2016_seoul['bor_nm'] = air_2016_seoul['bor_nm'].str.split(' ',expand=True)[1]
air_2017_seoul['bor_nm'] = air_2017_seoul['bor_nm'].str.split(' ',expand=True)[1]
air_2018_seoul['bor_nm'] = air_2018_seoul['bor_nm'].str.split(' ',expand=True)[1]

In [9]:
# date 시간 조정
air_2016_seoul["date"] = air_2016_seoul["date"].astype(str)
air_2016_seoul["date"] = air_2016_seoul["date"].str[:8]
air_2016_seoul['date'] = air_2016_seoul['date'].str[:4] + '-' + air_2016_seoul['date'].str[4:]
air_2016_seoul['date'] = air_2016_seoul['date'].str[:7] + '-' + air_2016_seoul['date'].str[7:]
air_2017_seoul["date"] = air_2017_seoul["date"].astype(str)
air_2017_seoul["date"] = air_2017_seoul["date"].str[:8]
air_2017_seoul['date'] = air_2017_seoul['date'].str[:4] + '-' + air_2017_seoul['date'].str[4:]
air_2017_seoul['date'] = air_2017_seoul['date'].str[:7] + '-' + air_2017_seoul['date'].str[7:]
air_2018_seoul["date"] = air_2018_seoul["date"].astype(str)
air_2018_seoul["date"] = air_2018_seoul["date"].str[:8]
air_2018_seoul['date'] = air_2018_seoul['date'].str[:4] + '-' + air_2018_seoul['date'].str[4:]
air_2018_seoul['date'] = air_2018_seoul['date'].str[:7] + '-' + air_2018_seoul['date'].str[7:]

In [10]:
# 대기 오염 데이터 정제 일자별(평균값으로) 조정
air_2016_seoul = air_2016_seoul.loc[(air_2016_seoul['pvn_nm']=='서울특별시')].groupby(['date','bor_nm']).mean()
air_2017_seoul = air_2017_seoul.loc[(air_2017_seoul['pvn_nm']=='서울특별시')].groupby(['date','bor_nm']).mean()
air_2018_seoul = air_2018_seoul.loc[(air_2018_seoul['pvn_nm']=='서울특별시')].groupby(['date','bor_nm']).mean()

# index로 조정
air_2016_seoul = air_2016_seoul.reset_index()
air_2017_seoul = air_2017_seoul.reset_index()
air_2018_seoul = air_2018_seoul.reset_index()

In [11]:
air_2016_seoul.head()

,date,bor_nm,SO2,CO,O3,NO2,PM10,PM25
0,2016-01-01,강남구,0.005458,1.016667,0.005021,0.052271,71.062500,44.208333
1,2016-01-01,강동구,0.004833,0.900000,0.002175,0.046167,71.062500,45.416667
2,2016-01-01,강북구,0.004333,1.087500,0.004167,0.046417,73.666667,51.666667
3,2016-01-01,강서구,0.005042,1.012500,0.004458,0.037458,69.666667,26.123503
4,2016-01-01,관악구,0.005292,1.137500,0.008792,0.051500,65.500000,44.208333

In [12]:
# air_2016_seoul 원하는 행 삭제 
air_2016_seoul = air_2016_seoul[air_2016_seoul.bor_nm != '강서로45다길']
air_2017_seoul = air_2017_seoul[air_2017_seoul.bor_nm != '강서로45다길']
air_2018_seoul = air_2018_seoul[air_2018_seoul.bor_nm != '강서로45다길']

In [13]:
weather.loc[(weather['cloud']>8) 
            & (weather['rain']>0) 
            & (weather['humid']>80) 
            & (weather['hpa']>1002)
            & (weather['month'].between(6,9, inclusive=True))
            & (weather['loc']==143), ['loc','temp','year','month']].groupby(['loc','year','month']).mean()

In [14]:
#  평균값 구하기 
air_2018_seoul.loc[(air_2018_seoul['date'] > '2018-01-01')
                   & (air_2018_seoul['date'] < '2018-12-30')
                   & (air_2018_seoul['SO2'])
                  ].mean()

SO2      0.004405
CO       0.529702
O3       0.021924
NO2      0.031227
PM10    41.265249
PM25    23.409311
dtype: float64

In [15]:
# air_2016_seoul NULL값 년 평균으로 수정

air_2016_seoul.loc[(air_2016_seoul['SO2'].isna()) 
                   & (air_2016_seoul['date'] >='2016-01-01') 
                   & (air_2016_seoul['date'] <='2016-12-31'), 'SO2'] = 0.004840

air_2016_seoul.loc[(air_2016_seoul['CO'].isna()) 
                   & (air_2016_seoul['date'] >='2016-01-01') 
                   & (air_2016_seoul['date'] <='2016-12-31'), 'CO'] = 0.539631

air_2016_seoul.loc[(air_2016_seoul['O3'].isna()) 
                   & (air_2016_seoul['date'] >='2016-01-01') 
                   & (air_2016_seoul['date'] <='2016-12-31'), 'O3'] = 0.022863

air_2016_seoul.loc[(air_2016_seoul['NO2'].isna()) 
                   & (air_2016_seoul['date'] >='2016-01-01') 
                   & (air_2016_seoul['date'] <='2016-12-31'), 'NO2'] = 0.033444

air_2016_seoul.loc[(air_2016_seoul['PM10'].isna()) 
                   & (air_2016_seoul['date'] >='2016-01-01') 
                   & (air_2016_seoul['date'] <='2016-12-31'), 'PM10'] = 45.943508

air_2016_seoul.loc[(air_2016_seoul['PM25'].isna()) 
                   & (air_2016_seoul['date'] >='2016-01-01') 
                   & (air_2016_seoul['date'] <='2016-12-31'), 'PM25'] = 24.334075

In [16]:
air_2016_seoul.isnull().sum()

date      0
bor_nm    0
SO2       0
CO        0
O3        0
NO2       0
PM10      0
PM25      0
dtype: int64

In [17]:
# air_2017_seoul NULL값 년 평균으로 수정

air_2017_seoul.loc[(air_2017_seoul['SO2'].isna()) 
                   & (air_2017_seoul['date'] >='2017-01-01') 
                   & (air_2017_seoul['date'] <='2017-12-31'), 'SO2'] = 0.005080

air_2017_seoul.loc[(air_2017_seoul['CO'].isna()) 
                   & (air_2017_seoul['date'] >='2017-01-01') 
                   & (air_2017_seoul['date'] <='2017-12-31'), 'CO'] = 0.561291

air_2017_seoul.loc[(air_2017_seoul['O3'].isna()) 
                   & (air_2017_seoul['date'] >='2017-01-01') 
                   & (air_2017_seoul['date'] <='2017-12-31'), 'O3'] = 0.021822

air_2017_seoul.loc[(air_2017_seoul['NO2'].isna()) 
                   & (air_2017_seoul['date'] >='2017-01-01') 
                   & (air_2017_seoul['date'] <='2017-12-31'), 'NO2'] = 0.036369

air_2017_seoul.loc[(air_2017_seoul['PM10'].isna()) 
                   & (air_2017_seoul['date'] >='2017-01-01') 
                   & (air_2017_seoul['date'] <='2017-12-31'), 'PM10'] = 49.972778

air_2017_seoul.loc[(air_2017_seoul['PM25'].isna()) 
                   & (air_2017_seoul['date'] >='2017-01-01') 
                   & (air_2017_seoul['date'] <='2017-12-31'), 'PM25'] = 26.123503

In [18]:
air_2017_seoul.isnull().sum()

date      0
bor_nm    0
SO2       0
CO        0
O3        0
NO2       0
PM10      0
PM25      0
dtype: int64

In [19]:
# air_2018_seoul NULL값 년 평균으로 수정

air_2018_seoul.loc[(air_2018_seoul['SO2'].isna()) 
                   & (air_2018_seoul['date'] >='2018-01-01') 
                   & (air_2018_seoul['date'] <='2018-12-31'), 'SO2'] = 0.004405

air_2018_seoul.loc[(air_2018_seoul['CO'].isna()) 
                   & (air_2018_seoul['date'] >='2018-01-01') 
                   & (air_2018_seoul['date'] <='2018-12-31'), 'CO'] = 0.529557

air_2018_seoul.loc[(air_2018_seoul['O3'].isna()) 
                   & (air_2018_seoul['date'] >='2018-01-01') 
                   & (air_2018_seoul['date'] <='2018-12-31'), 'O3'] = 0.021912

air_2018_seoul.loc[(air_2018_seoul['NO2'].isna()) 
                   & (air_2018_seoul['date'] >='2018-01-01') 
                   & (air_2018_seoul['date'] <='2018-12-31'), 'NO2'] = 0.031228

air_2018_seoul.loc[(air_2018_seoul['PM10'].isna()) 
                   & (air_2018_seoul['date'] >='2018-01-01') 
                   & (air_2018_seoul['date'] <='2018-12-31'), 'PM10'] = 41.168559

air_2018_seoul.loc[(air_2018_seoul['PM25'].isna()) 
                   & (air_2018_seoul['date'] >='2018-01-01') 
                   & (air_2018_seoul['date'] <='2018-12-31'), 'PM25'] = 23.371562

In [20]:
air_2018_seoul.isnull().sum()

date      0
bor_nm    0
SO2       0
CO        0
O3        0
NO2       0
PM10      0
PM25      0
dtype: int64

# 마무리 저장

In [21]:
air_2016_seoul.to_csv('d:/project/contest/data/processed/air_2016_seoul.csv', index=False, encoding='utf-8')
air_2017_seoul.to_csv('d:/project/contest/data/processed/air_2017_seoul.csv', index=False, encoding='utf-8')
air_2018_seoul.to_csv('d:/project/contest/data/processed/air_2018_seoul.csv', index=False, encoding='utf-8')
print('saving done!')

saving done!